@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!--<h1 class="display-4">Welcome1</h1> -->
    <!--<img src="~/img/novo_lar.png" width="120px" height="120px" /> -->
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
</div>
